header
{
    height: 170px;
    .headerH5
{
    text-align: center;   
    color: rgb(255, 255, 255);
}
h1
{
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    margin-left: 10px;}
    .search{
    .input{
    height: 30px;
    border-radius: 30px;
    width: 350px;
    margin-top: 5px;
    margin-left:5px;}
}
}