header
{
    height: 170px;
    .headerH5
{
    background-color: $fondonegro;
    font-size: 20px;
    text-align: center;   
    color: $white;
}
h1
{
    color: $white;
    font-family: $fuente;
    text-align: left;
    font-size: 60px;
    margin-left: 10px;}
    .search{
    .input{
    height: 30px;
    border-radius: 30px;
    width: 350px;
    margin-top: 5px;
    margin-left:5px;}
}
}