.nav
{   
    background-color: black;    
    font-family: 'Cutive Mono', monospace;
    font-size: 20px;
    height: 100px;
    width: auto;
    position: sticky;
    top: 0;
    z-index: 1;
    img
{
    height: 60px;
    width: 60px;
    margin-left: 50px;
    margin-top: 7px;}
    .nav__title{
    color:rgb(255, 255, 255);
    font-family: 'Amatic SC', cursive;
    font-style: oblique;
    margin-left: 5px;}
    .nav__links{	
        margin-left: 400px;
        margin-bottom: 60px;
        margin-top: -50px; 
        .nav__item{
        display: inline-block;}
        .nav__link{
        list-style: none;
        text-decoration: none;
        margin-right:30px;
        color: rgb(255, 255, 255); 
        padding: 5px;}
    }
}