*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

    @import "variables";
    @import "_header";
    @import "_nav";
    @import "_container";
    @import "_footer";


body{
    background-image: url(../img/cavern.jpg);
    background-repeat: no-repeat;
    background-size: cover;}
.imgpago
{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 10px;
}
    .imgbancos:hover{transform: scale(1.1) ;}
    .imgbancos{transition: 0.7s ease;}
main{
    .titlecontainer{
        color: rgb(255, 255, 255);
        text-align: center;
        font-family:'Amatic SC', cursive;
        font-size: 35px;}
}
